body {
    margin: 8px;
    display: block;
    background-color: beige;
  }

  .engineOptions{
    /* display: block; */
   
    padding-block: 20px;
    
  }

  input[type="radio"]:checked {
   
    accent-color: aqua;
  }

